body {
    background-color: rgb(116, 137, 177);
}

.fContainer {
    display: flex;
    width: 150%;
    height: 20vh;
}

.wrapper {
    display: flex;
    font-size: 20px;
    padding: 15px;
    width: 150%;
    height: 100px;
    background-color: rgb(9, 3, 27);
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation>li {
    list-style-type: none;
    padding: 6px;
}

.navigation>li>a {
    color: #dbc2c6;
    font-size: 20px;
    text-decoration: none;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    background-color: aqua;
}

.grid-item {
    background-color: #0c033a;
}


  




